/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --background:white;
  --primary: #2b9298;
  --secondary: pink;         
  --brown: #806445;
  --text:white;
  --link-hover:blue;
  --brightness:#483b3b31;
  --scrollbar:hsl(350, 100%, 88%);
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Codigo de la landing */

/* CSS del Header */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-normal);
  font-style: normal;
  background-color: var(--background);
  z-index: 999;
}

.main-header {
  position: fixed;
  width: 100%;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  z-index: 999;
}

.ham {
  display: none;
  width: 30px;
  height: 30px;
}

.ham span {
  display: block;
  background-color: var(--primary);
  width: 100%; 
  height: 5px;
  margin-bottom: 5px;
}

.logo {
  display: flex;
  gap: 7px;
  padding-left: 30px;
}

.logo {
  font-size: x-large;
}

.planet-skin-1, 
.planet-skin-2 {
  font-weight: var(--font-bold);
}

.planet-skin-1 {
  color: var(--primary);
}

.planet-skin-2 {
  color: var(--secondary);
}

.categories {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 80%; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px; */
}

.main-header a {
  text-decoration: none;
}

.categories a {
  color: var(--primary);
  font-size: large;
}

.idioma {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e69a9e;
  /* padding: 10px; */
  height: 50px;
  width: 100px;
  margin:10px;
  border-radius: 3px;
  gap: 5px;
}

.idioma-texto {
  color: white;
  font-weight: var(--font-light);
  font-size: small;
  text-decoration: none;
}

.banderaEspaña {
  width: 25px;
  height: 17px;
}

/* .container-nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.container-links {
  display: flex;
  gap: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  justify-content: space-around;
} */

/* CSS del Masthead */

.masthead {
  position: relative;
  width: 100%;
}

.masthead img {
  width: 100%;
  filter: brightness(70%);
}

.masthead article {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 20px;
  color: var(--text);
  background-color: rgba(0, 0, 0, 0.438);
  /* height: 100;
  width: 800px;
  border: none;
  background-color: var(--brightness); */
}


.masthead p {
  font-weight: var(--font-light);
  margin-bottom: 10px;
  /* font-size: 14px;
  font-weight: var(--font-light);
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: 45px; */
}

.masthead h2 {
  font-size: 20px;
  font-weight: var(--font-bold);
  margin-bottom: 20px;
  /* font-weight: var(--font-light);
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 45px;
  letter-spacing: 3px; */
}

.masthead button {
  padding: 10px;
  background-color: var(--secondary);
  border: none;
  font-weight: var(--font-bold);
  /* display: block;
  width: 200px;
  padding: 10px;
  color: var(--text);
  font-weight: var(--font-light);
  border: none;
  background-color: var(--secondary); */
} 

/* .masthead button:first-of-type {
  margin: 0 auto;
  width: 110px;
  height: 45px;
  margin-left: 45px;
  margin-bottom: 1px;
} */

/* .masthead button:last-of-type {
  margin: 0 auto;
  border-radius: 30px;
  width: 200px;
  height: 50px;
} */


@media (max-width: 768px) {
  .masthead article {
    position: static;
    background-color: var(--brown);
    margin-top: -10px;
  }
  .degradado {
    position: absolute;
    left: 0;
    bottom: 141px;
    background: linear-gradient(180deg, rgba(128, 100, 69, 0) 0%, rgba(128, 100, 69, 1) 100%);
    width: 100%;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .ham {
    display: block;
  }
  .categories{
    display: none;
  }
}