/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --background:white;
  --primary: #2b9298;
  --secondary: pink;
  --text:#7ebab3;
  --link-hover:blue;
  --brightness:black;
  --scrollbar:pink;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Codigo de la lading */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-normal);
  font-style: normal;
  background-color: var(--background);
  
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.container-links {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
}

.important {
  display: flex;
  gap: 7px;
}

header a {
  color: var(--primary);
  text-decoration: none;
}

.idioma {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e69a9e;
  padding: 10px;
  height: 15px;
  margin:15px;
  border-radius: 3px;
  gap: 5px;
}

.idioma-texto {
  color: white;
  font-weight: var(--font-light);
  font-size: small;
}

.banderaEspaña {
  width: 25px;
  height: 17px;
}

.planet-skin-1, 
.planet-skin-2 {
  font-weight: var(--font-bold);
}

.planet-skin-1 {
  color: var(--primary);
}

.planet-skin-2 {
  color: var(--secondary);
}